################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NoPopsUI
/bin/Debug
/obj
/.vs
/bin/Release
